
<div class="container mt-5">

    <span class="add-irrigation d-flex justify-content-end" style="margin-top: 30px;" (click)="openDialog()">
        <ion-icon name="add-outline" style="width: 28px; height: 28px;"></ion-icon>
    </span>
    
    <ng-template #noirrigations>

        <div class="d-flex justify-content-center">
            <h3 class="text-dark mt-3">You don't have any schedules yet...</h3>
        </div>

    </ng-template>

    <ng-template [ngIf]="userIrrigations.length > 0" [ngIfElse]="noirrigations">
        
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userIrrigation of userIrrigations">
                    <td>
                        {{ userIrrigation.startTime.toString().substring(0, 5) }}
                    </td>
                    <td>    
                        {{ userIrrigation.duration }}
                    </td>
                    <td>
                        <ng-template #specificDate>
                            {{ userIrrigation.specificDate | date:'yyyy-MM-dd' }}
                        </ng-template>

                        <ng-template [ngIf]="userIrrigation.daysOfWeek" [ngIfElse]="specificDate">
                            <div class="row week">
                                <ul>
                                    <li><span class="text sun" [class.selected]="userIrrigation.daysOfWeek.includes(1)">S</span></li>
                                    <li><span class="text click" [class.selected]="userIrrigation.daysOfWeek.includes(2)">M</span></li>
                                    <li><span class="text click" [class.selected]="userIrrigation.daysOfWeek.includes(3)">T</span></li>
                                    <li><span class="text click" [class.selected]="userIrrigation.daysOfWeek.includes(4)">W</span></li>
                                    <li><span class="text click" [class.selected]="userIrrigation.daysOfWeek.includes(5)">T</span></li>
                                    <li><span class="text click" [class.selected]="userIrrigation.daysOfWeek.includes(6)">F</span></li>
                                    <li><span class="text click" [class.selected]="userIrrigation.daysOfWeek.includes(7)">S</span></li>
                                </ul>
                            </div>
                        </ng-template>
                    </td>
                    <td class="d-flex align-items-center ">
                        <button class="Btn" (click)="editIrrigation(userIrrigation.id)">Edit 
                            <svg class="svg" viewBox="0 0 512 512">
                              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
                        </button>
                        
                        <button class="noselect btndelete delete"  *ngIf="!userIrrigation.deleteConfirm" (click)="confirmDelete(userIrrigation)">
                            <span class="text">Delete</span>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                </svg>
                            </span>
                        </button>
                      
                        <div *ngIf="!!userIrrigation.deleteConfirm">
                          Sure?
                          <button class="btn btn-link p-1" (click)="deleteConfirmed(userIrrigation, userIrrigations)">
                            Yes
                          </button>
                          <button class="btn btn-link p-1" (click)="cancelDeleteConfirm(userIrrigation)">
                            No
                          </button>
                        </div>
                      </td>
                </tr>
            </tbody>
        </table>

    </ng-template>
  </div>